<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=.;UID=sa;PWD=123;database=UrbanConstructionSys"/>
  </connectionStrings>
  <appSettings>
    <add key="IndexFilePath" value="C:\UrbanConstructionSys\index"/>
    <add key="NewsSql" value="Select * From [UC_NewsList] order by ReleaseTime desc"/>
    <add key="DownFileSql" value="Select * From [UC_DownLoad] order by AddTime desc "/>
  </appSettings>
</configuration>
