<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="true" />
    <setting cacheModelsEnabled="true" />
  </settings>
  <providers resource="providers.config"/>
  <database>
    <provider name="sqlServer2.0" />
    <dataSource name="UrbanConstruction.Access" connectionString="server=.;UID=sa;PWD=dev;database=sjdag;Connect Timeout=18000" />
  </database>

  <sqlMaps>
    <sqlMap embedded="UrbanConstruction.Mapping.UC_DownLoad.xml,UrbanConstruction.Mapping"/>
    <sqlMap embedded="UrbanConstruction.Mapping.UC_Link.xml,UrbanConstruction.Mapping"/>
    <sqlMap embedded="UrbanConstruction.Mapping.UC_Message.xml,UrbanConstruction.Mapping"/>
    <sqlMap embedded="UrbanConstruction.Mapping.UC_NewsList.xml,UrbanConstruction.Mapping"/>
    <sqlMap embedded="UrbanConstruction.Mapping.UC_Video.xml,UrbanConstruction.Mapping"/>
    <sqlMap embedded="UrbanConstruction.Mapping.UC_Menu.xml,UrbanConstruction.Mapping"/>
    <sqlMap embedded="UrbanConstruction.Mapping.UC_MenuItem.xml,UrbanConstruction.Mapping"/>
    <sqlMap embedded="UrbanConstruction.Mapping.UC_Pictures.xml,UrbanConstruction.Mapping"/>
    <sqlMap embedded="UrbanConstruction.Mapping.UC_HitCount.xml,UrbanConstruction.Mapping"/>
    <sqlMap embedded="UrbanConstruction.Mapping.UC_Town.xml,UrbanConstruction.Mapping"/>
    <sqlMap embedded="UrbanConstruction.Mapping.UC_User.xml,UrbanConstruction.Mapping"/>
    <sqlMap embedded="UrbanConstruction.Mapping.UC_Guestbook.xml,UrbanConstruction.Mapping"/>
  </sqlMaps>
</sqlMapConfig>