<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <facilities>
    <facility id="ibatis" type="Castle.Facilities.IBatisNetIntegration.IBatisNetFacility, Castle.Facilities.IBatisNetIntegration" >
      <sqlMap id="UrbanConstruction.SqlMap" config="sqlMap.config" />
    </facility>
  </facilities>
  <components>
    <component id="UC_DownLoadDaoService" type="UrbanConstruction.Dao.UC_DownLoadDao, UrbanConstruction.Dao"/>
    <component id="UC_LinkDaoService" type="UrbanConstruction.Dao.UC_LinkDao, UrbanConstruction.Dao"/>
    <component id="UC_MessageDaoService" type="UrbanConstruction.Dao.UC_MessageDao, UrbanConstruction.Dao"/>
    <component id="UC_NewsListDaoService" type="UrbanConstruction.Dao.UC_NewsListDao, UrbanConstruction.Dao"/>
    <component id="UC_VideoDaoService" type="UrbanConstruction.Dao.UC_VideoDao, UrbanConstruction.Dao"/>
    <component id="UC_PicturesDaoService" type="UrbanConstruction.Dao.UC_PicturesDao, UrbanConstruction.Dao"/>
    <component id="UC_MenuDaoService" type="UrbanConstruction.Dao.UC_MenuDao, UrbanConstruction.Dao"/>
    <component id="UC_MenuItemDaoService" type="UrbanConstruction.Dao.UC_MenuItemDao, UrbanConstruction.Dao"/>
    <component id="UC_HitCountDaoService" type="UrbanConstruction.Dao.UC_HitCountDao, UrbanConstruction.Dao"/>
    <component id="UC_TownDaoService" type="UrbanConstruction.Dao.UC_TownDao, UrbanConstruction.Dao"/>
    <component id="UC_UserDaoService" type="UrbanConstruction.Dao.UC_UserDao, UrbanConstruction.Dao"/>
    <component id="UC_GuestbookDaoService" type="UrbanConstruction.Dao.UC_GuestbookDao, UrbanConstruction.Dao"/>
  </components>

</configuration>